<p id="red-background" [ngStyle]="styling" class="red-background" [ngClass]="{ 'big-font': shouldFontBeBig }">
    directives-demo works!</p>
<div>
    <button (click)="shouldFontBeBig = true">Make text bigger!</button>
</div>

<div>
    <button (click)="styling.color='red'">Change Style!</button>
</div>

<hr>

<div>
    <button (click)="shouldShowText = true">Make text visible!</button>
</div>

<p *ngIf="shouldShowText">
    <span>
        This text is conditional.
    </span>
</p>

<p *ngIf="!shouldShowText">
    <span>
        This is other text.
    </span>
</p>

<ng-template [ngIf]="shouldShowText" [ngIfElse]="otherText">
    <p>
        <span>
            This text is conditional (1).
        </span>
    </p>
</ng-template>

<ng-template #otherText let-color>
    <div>
        This is other text. {{ color }}
    </div>
</ng-template>

<ng-container [ngTemplateOutlet]="otherText" [ngTemplateOutletContext]="{ '$implicit': 'red' }">
</ng-container>