<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    <div class="mini-navbar" *ngIf="!(isLoggedIn$ | async)">
      <ul>
        <li>
          <a routerLink="/user/login">Login</a>
        </li>
        <li>
          <a routerLink="/user/register">Register</a>
        </li>
      </ul>
    </div>
    <div class="mini-navbar" *ngIf="(isLoggedIn$ | async)">
      <ul>
        <li>
          <a routerLink="/profile">{{( currentUser$ | async).username}}'s Profile</a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="logoutHandler()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/themes">Themes</a>
      </li>
      <li>
        <a routerLink="/themes/new">New Theme</a>
      </li>

      <p *ngIf="!!message" [ngClass]="{'error-message': isMessageError, 'success-message': !isMessageError}"
        class="notification">
        {{message}}
      </p>
    </ul>
  </nav>
</header>